@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Quicksand&display=swap');
:root {
  --site-dark: #0b110c;
  --site-greed-principal: #3ba957;
  --site-white: #fffcff;
  
  --site-font-title: 'Fredoka', sans-serif;
  --site-font-body: 'Quicksand', sans-serif;
}

.ejemplo {
  color: var(--site-dark);
  font-family: var(--site-font-title); 
}

body {
  margin: 0;
  padding: 0;
}

.container-base {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: 
    auto 1fr auto;;
}

main {
  padding-top: 15%;
  max-width: 100vw;
}

/* ====== nav ====== */



/* ====== footer ====== */



/* ====== inicio ====== */



/* ====== productos ====== */



/* ====== contáctenos ====== */

#contacto{
  background-color: var(--site-greed-principal);
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#contacto h2{
  color: var(--site-dark);
  font-family: var(--site-font-title);

}

#contacto h3{
  font-family: var(--site-font-title);
  font-size: large;
}

#contactform{
  padding: 20px;

}
#printmensaje{
  color: var(--site-dark);
  font-size: small;
}

#inputemail {
  font-size: large;
  color: var(--site-dark);
  background-color: var(--site-white);
  border: 2px solid;
  border-color: var(--site-dark);
  padding: 8px 30px;
}

#suscribirse {
  font-size: large;
  color: var(--site-white);
  background-color: var(--site-dark);
  border: 2px solid;
  border-color: var(--site-dark);
  padding: 8px 30px;
}

#suscribirse:hover{
  color: var(--site-dark);
  background-color: var(--site-white);
  border: 2px solid;
  border-color: var(--site-dark);

}

