@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Quicksand&display=swap');
:root {
  --site-dark: #0b110c;
  --site-greed-principal: #3ba957;
  --site-white: #fffcff;
  
  --site-font-title: 'Fredoka', sans-serif;
  --site-font-body: 'Quicksand', sans-serif;
}

.ejemplo {
  color: var(--site-dark);
  font-family: var(--site-font-title); 
}

body {
  margin: 0;
  padding: 0;
}

.container-base {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: 
    auto 1fr auto;;
}

main {
  padding-top: 15%;
  max-width: 100vw;
}

/* ====== nav ====== */



/* ====== footer ====== */

footer{
  background-color: var(--site-dark);
  font-family: var(--site-font-body);
  color: var(--site-greed-principal); 
}

#LogoFitNation {
  max-width: 180px; 
  height: auto; 
  border-radius: 10px; 
  display: block; 
  margin: 30px auto;
}

.container_footer .col-md-4 div  {
  letter-spacing: 0.5px; 
  line-height: 1.2; 
  margin-bottom: 8px;
  font-size: 18px; 
}

.container_footer .col-12.text-center {
  letter-spacing: 0.3px;
  line-height: 1.6;
  font-size: 0.8em;
  margin-top: 10px;
  margin-bottom: 0;
}

.container_footer .fw-bold {
  letter-spacing: 0.8px; 
}

row > div:nth-child(2) {
  margin-bottom: 20px; 
}


.row > div:nth-child(3) {
  margin-bottom: 20px; 
}

/*Media query Pantallas (sm y xs)  */
@media (max-width: 767.98px) {
  #LogoFitNation {
    max-width: 120px; 
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .container_footer .col-md-4 div {
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    line-height: 1.4;
    margin-bottom: 5px;
  }

  .container_footer .fw-bold {
    letter-spacing: 0.5px;
  }
}


/* ====== inicio ====== */



/* ====== productos ====== */



/* ====== contáctenos ====== */





